{% extends 'base.html.twig' %}

{% block title %}Nouvel Album{% endblock %}

{% block body %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Créer un nouvel album</h1>

        <div class="card shadow-sm p-4 mx-auto" style="max-width: 500px;"> <!-- Carte plus petite -->
            {{ form_start(form, {'attr': {'class': 'needs-validation', 'novalidate': 'novalidate', 'onsubmit': 'return confirmSubmit()'}}) }}
                <div class="mb-3">
                    {{ form_label(form.name, 'Nom de l\'album', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.name, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Entrez le nom de l\'album'}}) }}
                    {{ form_errors(form.name) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.category, 'Catégorie', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.category, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Rock, Rap, etc...'}}) }}
                    {{ form_errors(form.category) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.thumbnailURL, 'URL d\'image de l\'album (optionnel)', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.thumbnailURL, {'attr': {'class': 'form-control form-control-sm', 'placeholder': 'Entrez l\'URL de l\'album'}}) }}
                    {{ form_errors(form.thumbnailURL) }}
                </div>

                <div class="mb-3">
                    {{ form_label(form.artiste, 'Artiste', {'label_attr': {'class': 'form-label'}}) }}
                    {{ form_widget(form.artiste, {'attr': {'class': 'form-select form-select-sm'}}) }}
                    {{ form_errors(form.artiste) }}
                </div>

                <div class="text-center">
                    <button type="submit" class="btn btn-primary btn-sm">Enregistrer</button>
                    <a href="{{ path('app_release_index') }}" class="btn btn-secondary btn-sm">Retour à la liste</a>
                </div>
            {{ form_end(form) }}
        </div>
    </div>

    <script>
        function confirmSubmit() {
            return confirm('Êtes-vous sûr de vouloir enregistrer cet album ?');
        }
    </script>
{% endblock %}