{% extends 'base.html.twig' %}

{% block title %}Album index{% endblock %}

{% block body %}
    <div class="container mt-5 mb-5">
        <div class="row align-items-center mb-2">
            <div class="col">
                <h1>Album index</h1>
            </div>

            {% if is_granted('ROLE_USER')  %}
                <div class="col-auto">
                    <a class="btn btn-danger rounded-pill" href="{{ path('app_album_new') }}">
                        <i class="fa-solid fa-plus"></i>
                    </a>
                </div>
            {% endif %}
        </div>

        <div class="row gy-3 mb-3">
            {% for album in albums %}
                <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xl-2">
                    <div class="card mx-auto mx-sm-0 overflow-hidden" style="max-width: 16rem">
                        <div class="card-img-top ratio ratio-1x1">
                            <img src="{{ album.thumbnail }}" alt="Artist thumbnail" class="object-fit-cover">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title mb-0">{{ album.title }}</h5>
                            <a class="stretched-link" href="{{ path('app_album_show', {'id': album.id}) }}"></a>
                            <p class="text-secondary mb-0">
                                {{ album.releaseDate ? album.releaseDate|date('Y') : '' }} 
                                <span class="badge rounded-pill text-bg-danger">{{ album.typeLabel }}</span>
                            </p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
