{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block body %}
    <div class="container my-5">
        <div class="row mb-2 align-items-center">
            <div class="col">
                <h1>Utilisateurs</h1>
            </div>
            <div class="col-auto">
                <a class="btn btn-danger rounded-pill" href="{{ path('app_user_new') }}">
                    <i class="fa-solid fa-plus"></i>
                </a>
            </div>
        </div>

        <div class="table-responsive border rounded overflow-hidden">
            <table class="table mb-0">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Firstname</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Roles</th>
                        <th>actions</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.firstname }}</td>
                        <td>{{ user.name }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.roles ? user.roles|join(', ') : '' }}</td>
                        <td>
                            <a class="icon-link" href="{{ path('app_user_show', {'id': user.id}) }}">
                                <i class="fa-solid fa-eye"></i>
                            </a>
                            <a class="icon-link" href="{{ path('app_user_edit', {'id': user.id}) }}">
                                <i class="fa-solid fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
